div.main {
    margin: 2em;
    justify-content: flex-start;
    flex-direction: column;
}
h1 {
    margin-bottom: 40px;
    margin-left: 30px;
}
.wlc {
    margin: 2em 0px;
    margin-bottom: 4em;
}
.wlcMsg {
    font-family: emoji;
    text-align: left;  
    color: rgb(203 83 83);
}
.wlcMsg h1 {
    font-size: 2.8em;
    padding: 0.5em 0px;
}

#slideShow {
    position: relative;
    transition: all 1s;
    overflow: hidden;
    height: 60vh;
    margin: 2em 0em;
}
#mslideShow {
    display: none;
}
.wlcPic div {
    height: 100%;
    position: relative;
}
#wrap {
    position: relative;
    top: 0vh;
    transition: top 4s;
    transition-timing-function: ease-in-out;
}
.category {
    margin-bottom: 2em;
    text-align: center;
}
.category-item img:hover {
    filter: brightness(70%);
    transition: filter 0.5s;
}
.caption {
    color: white;
    position: relative;
    bottom:50%;
    font-size: 1.5em;
}

.info, .faq {
    display: flex;    
    flex-direction:column;
    align-items: center;
    padding: 1em;
    margin-top: 4em;
    color: rgb(203 83 83);
    font-family: emoji;
    background: linear-gradient(to right, rgb(232,232,232, 0.1), rgb(220,220,220, 0.5), rgb(212,211,210, 0.3), transparent); 
    min-height: 60vh;
    text-align: center;
    position: relative;
}
.faq {
    background: transparent;
}
  .mobcategory {
    display: none;
}
.anchorwrap {
    position: relative;
}
#topaid {
    right: 50px;
    bottom: 12vh;
    text-decoration: none;
    transition: all 0.3s;
    z-index: 3;
}
  #topaid:hover {
    text-align: right;
    text-decoration: none;
}

@media only screen and (max-width: 768px)
{
    .wlc    {
        margin-bottom: 0;
    }
    #slideShow {
        display: none;
    }
    #mslideShow {
        display: block;
        position: relative;
        transition: all 1s;
        overflow: hidden;
        height: 40vh;
        width: 100%;
        margin: -50px 0px 0px 0px;
        border-radius: 30px;
        background-color: red; /* for testing*/
    }
    .wlcMsg h1 {
        font-size: 2.5em;
    }
       
    .caption {
       font-size: 1em;
    }
    
}
@media only screen and (max-width: 480px)
{
    .category {
        display: none;
    }
    .mobcategory {
        display: flex;
        margin-bottom: 2em;
        text-align: center;
    }
}